$bodyBackground: #4a627e;
$activeColor: #56ccc8;
$whiteBackground: #ffffff;
$fontRoboto: 'Roboto', sans-serif;
$LinkFontColor: #475055;
$floatRight: right;
$floatLeft: left;
$greyColor: #dde2e4;
$navFontSize: 16px;
$whiteFont: #ffffff;
$LightGrayBackgroundColor: #c5cdd1;
$fbColor: #4d6baa;
$twitterColor: #4fc6f8;
$gplusColor: #ea6060;
$rssColor: #ff6600;
$pinterestColor: #bd081c;
$linkedColor: #238cc8;
$spaceBetweenBlocks: 15px;